@font-face {
	font-family: 'bignoodleo';
	src: url('../font-files/BigNoodleTooOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'bignoodle';
	src: url('../font-files/BigNoodleToo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}